html{
	background: url("images/cat.png");
	background-repeat: repeat;
}
body{
	padding: 60px 0px 40px 0px;
}
a{
	text-decoration: none;
}


#mainBody{
	padding: 100px 0px 0px 0px;
	margin: auto;
	text-align: center;
}

#info{
    background-color: #cccccc;
    border: 9px solid black;
    border-radius: 30px; 
	font-family: 'Prosto One', cursive;
}

#theMeat{
    background-color: #cccccc;
    border: 9px solid black;
    border-radius: 30px; 
	font-family: 'Prosto One', cursive;
}