html{
	background: url("images/cat.png");
	background-repeat: repeat;
    padding: 100px 100px 100px 100px;
}
div{
    text-align: center;
}

.container-fluid{
    height: 80%;
    width: 80%;
    background-color: #cccccc;
    border: 9px solid black;
    border-radius: 30px; 
}
